<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028794746194-ikudsosghp7a7vktscgpusc4qs5ieq5d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028794746194-ikudsosghp7a7vktscgpusc4qs5ieq5d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1028794746194-4nmt7demedqlt73qogt7ua18474hj8ai.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAM1f5UO-eTfd6EAU1cFy1k1qiraPZk2o4</string>
	<key>GCM_SENDER_ID</key>
	<string>1028794746194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hexamk.netraya</string>
	<key>PROJECT_ID</key>
	<string>netrayasmt</string>
	<key>STORAGE_BUCKET</key>
	<string>netrayasmt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028794746194:ios:9750584b8ea9132d9a668b</string>
	<key>DATABASE_URL</key>
	<string>https://netrayasmt-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>